dist/**/*.js
config/*.js
src/assets

dev/lib/**/*.js
dev/js/module/ajax.js
dev/js/module/browser.js
dev/js/module/easyNav.js
dev/js/module/grap.js
dev/js/module/grap-no-time.js
dev/js/module/interceptor-compontent.js
dev/js/module/readImgFile.js
dev/js/module/tools.js
dev/js/module/wristband-lib.js
dev/js/hdx-new-front-pc/hdx-new-admin.js
dev/js/hdx-new-front-pc/hdx-new-admin-component/*.js

dev/js/hdx/bind-face.js

gulpfile.js
hex-dev-conf.js
hdx-dev-conf.js
webpack.config.js