node_modules
bower_components
pagePDF
test
/benchmark/js
/benchmark/fixtures
/examples/*/js
/coverage
.DS_Store
*.log
static_pages/hdx-mobile/weixin/*
.tmp
.grunt
.idea
*.zip
hdx-dev-conf.js
hdx-dev-conf.*
list.txt